* {
  font-family: Roboto, 'Open Sans', Arial, Helvetica, sans-serif;
  @media (min-width:768px) {
  p {
    font-size:14px !important;
    line-break:anywhere !important;
  }
  h1 {
    line-break:anywhere !important;
  }
}
@media (max-width:767px) {
  p {
    font-size:20px !important;
  }
  h1 {
    line-break:anywhere !important;
  }
}
}

// hide the focus indicator if element receives focus via mouse, but show on keyboard focus (on tab).
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

// Define a strong focus indicator for keyboard focus.
// If you skip this then the browser's default focus indicator will display instead
// ideally use outline property for those users using windows high contrast mode
.js-focus-visible .focus-visible {
  outline: magenta auto 5px;
}
.modal-content {
  border: 0 !important;
  background-color: transparent !important;
  align-items:center !important;
}
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.notification {
  background-color: rgb(51, 86, 155) !important;
  color: white !important;
  position: absolute !important;
  top: 13vh !important;
  right: 0 !important;
  z-index:100 !important;
}
.myProgress {
  background: gold !important;
}
.myToast {
  font-family: Roboto !important;
}
@media(max-width:767px) {
  .exitFlag {
    font-size:1rem;
  }
  .flag {
    font-size:3rem;
  }
  .likedFlag {
    font-size:3rem;
  }
  .responsiveModal {
    width:80% !important;
    display: flex !important;
    left:10% !important;
    padding:auto !important;
    overflow-x: hidden !important;
  }
  .newModal {
  width: 75% !important;
  left: 12.5% !important;
  border-radius: 40px !important;
  padding: auto !important;
  background-color: white !important;
  top:5% !important;
  height: 90% !important;
  display: flex !important;
  overflow: hidden !important;
}
.modal-dialog {
  max-width:100% !important;
}
}
@media (min-width:768px) {
  .responsiveModal {
    max-width:100% !important;
    display: flex !important;
    overflow: scroll !important;
    padding:auto;
  }
  .exitFlag {
    font-size:3rem;
  }
.flag {
  font-size:5rem;
}
.likedFlag {
  font-size:5rem;
}
.newModal {
  width: 50% !important;
  left: 25% !important;
  top:5% !important;
  height: 90% !important;
  border-radius: 40px !important;
  padding: auto !important;
  background-color: white !important;
  top:5% !important;
  height: 90% !important;
  display: flex !important;
  overflow: hidden !important;
}
}
.hoverPointer:hover {
  cursor: pointer !important;
}
.imgWrapper {
  width: 100% !important;
  height: 30vh !important;
  max-width: 400px !important;
  max-height:400px !important;
  background-color: #545b6221;
  align-items: center;
  display:flex;
}
.modalImgWrapper {
  width: 100% !important;
  height:350px !important;
  background-color: #545b6221;
  align-items: center;
  display:flex;
}

.header {
  font-size: 3rem !important;
  text-align:center;
}
.mediumHeader {
  font-size: 2.25rem !important;
  padding-bottom: 1rem !important;
}
.subHeader {
  font-size:1.5rem !important;
}
.bodyText {
  font-size:1rem !important;
}
.blueColor {
  color: #17284A !important;
}
body {
  padding: 0 !important;
}
.maxWidth95 {
  max-width:95% !important;
}
.textAlign {
  text-align:center;
}
.myButton {
  background: none;
  border: 0;
  margin-top:3rem;
  margin-bottom:3rem;
  vertical-align: middle;
}
.exitButton {
  background:none !important;
  border: 0 !important;
  vertical-align:middle !important;
  font-size:1.5rem !important;
}
.exitPad {
  position:absolute !important;
  right: 0 !important;
  padding-top: 1rem !important;
  padding-right: 2rem !important;
}
.myCard {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 1px #e5e5e5;
  border-radius: 3rem !important;
}


.roundedBorder {
  border-radius:40px !important;
}
.profileModal {
  max-width:1340px !important;
}
.profileModal>div>div {
  max-width:100% !important;
}
