$font-stack: Roboto;
.title {
    color: #17284A;
    font: $font-stack;
    letter-spacing: 0.2rem;
}

h2 {
    color: #17284A;
    font-size: 20;
    font: $font-stack;
    letter-spacing: 0.2rem;
    align-content: center !important;
}