$font-stack: Roboto;

h1 {
  margin-top: 5vh !important;
  justify-content: center !important;
  align-items: center !important;
  font: $font-stack !important;
  font-weight: 500 !important;
  font-size: 35px !important;
  line-height: 42px !important;
}

h4 {
  font: $font-stack !important;
  font-weight: 300 !important;
  font-size: 25px !important;
  line-height: 30px !important;
  margin: 3vh !important;
}

.cropContainer {
  position: relative !important;
  width: 180px !important;
  height: 180px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.button {
  background-color: #17284A !important;
  border-radius: 40vh !important;
  font: $font-stack !important;
  margin: 1vh !important;
  border: 1px solid black !important;
  box-shadow: none !important;

  :hover {
    background-color: #17284A !important;
  }
}

.input {
  border-radius: 40vh !important;
  font: $font-stack !important;
  border: 1px solid black !important;
  box-shadow: none !important;
  margin-bottom: 2vh !important;
}

.text {
  font: $font-stack !important;
  text-align: center !important;
}

.profilePicture {
  display: block !important;
  width: 180px !important;
  height: 180px !important;
  justify-content: center !important;
  margin-top: 2vh !important;
  margin-bottom: 2vh !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.profilePictureWrapper {
  width: 100% !important;
  justify-content: center;
}

.textarea {
  border-radius: 4vh !important;
  font: $font-stack !important;
  border: 1px solid black !important;
  box-shadow: none !important;
  margin-bottom: 2vh !important;
}